version: "3.9"

services:
  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: recipes
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend
      dockerfile: backend.dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - db
      - ai-service
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/recipes

  ai-service:
    build:
      context: ./ai_recipe
      dockerfile: dockerfile
    ports:
      - "5002:5002"
    env_file:
      - ./ai_recipe/.env  

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm start
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - CHOKIDAR_USEPOLLING=true  # כדי ש־Hot Reload יעבוד טוב בתוך Docker

volumes:
  postgres_data:
